<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <title>Yelp</title>
  </head>

  <body>
    <% if @restaurants.any? %>
      <% @restaurants.each do |restaurant| %>
        <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
        <% if current_user && current_user.restaurants.exists?(id: restaurant.id) %>
          <h3><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %> </h3>
          <h3><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %></h3>
        <% end %>
        <h3><%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
        <h3>Reviews for <%= restaurant.name %>
        <% if restaurant.reviews.any? %>
          <ul>
            <% restaurant.reviews.each do |review| %>
              <li>
                <%= review.thoughts %>, <strong><%= review.rating %></strong>/5
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>No reviews available</p>
        <% end %>
      <% end %>
    <% else %>
      <h1>No restaurants have been added</h1>
      <a href='/restaurants/new'>Add a restaurant</a>
    <% end %>
  </body>
</html>
